
.main_bg{
    /*border: solid;
    
    background-color: #f2f2f2;*/
    background-color: rgb( 213, 212, 212);

  /*  
    border: solid;
    width: 100%;

    

    color: rgb( 213, 212, 212);
    height: 745px;
    background: url('../images/main_bg.png') no-repeat;
    position: relative;
    margin-bottom: 200px;
    */

}

a:link {
    color: #333333;
    
}

/* visited link */
a:visited {
    color: #333333;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: red;
}

@font-face {
  font-family: Tw Cen MT;
  src: url('fonts/TwCenMT.ttf');
}

.categories{

 background-color: #ff0000;
 color: #fff;
 padding-left: 10px;

}

.header{
    background-color: rgb( 255, 255, 255 );
    height: 160px;
    padding-left: 0;
    padding-right: 15px;
    padding-top: 10px;
}

.header-large-div {
  height:150px
}
.header-short-div {

  height:50px;
  font: bold 17px "Tw Cen MT", Arial, Helvetica, sans-serif;
}



a.header-short-div {
  font: bold 17px "Tw Cen MT", Arial, Helvetica, sans-serif;
  text-decoration: none;

}

.header-short-div3 {

  height:50px;
  font: bold 17px "Tw Cen MT", Arial, Helvetica, sans-serif;
}


.bottom-content {
  display: inline-block;
  vertical-align: bottom;
}

.menutop{
    background-color: #fff;    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;  
}

.menutop ul{
  width: 100%; 
  object-fit: contain;
}

.logo{

  height: 140px;
  width: 180px;

}

.logo img{
  width: 100%; 
  object-fit: contain;
  
}

.lema{

  height: 130px;
  width: 450px;
}

.lema img{
  width: 100%; 
  object-fit: contain;  
}

.cart{

  height: 30px;
  width: 30px;
}

.cart img{
  width: 100%; 
  object-fit: contain;  
}

.mycart{

  height: 30px;
  width: 65px;
}



.banner {  
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.banner img{
  height: 100%; 
  width: 100%; 
  object-fit: contain;
} 


.notification {
  background-color: #fff;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.breadcrumb {
    background-color: #cccccc;
    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 0px solid #0E0E80;
    font: normal 12px "Tw Cen MT", Arial, Helvetica, sans-serif;
    width: 100%;
}


.body{
  padding-top: 10px;
  background-color: #F5D0A9;
}

.sidebar {
  background-color: #FFF;
  height:450px;
  padding-left: 15px;
  padding-top: 10px;

  
}


.content {
  background-color: #F5D0A9;
  height:450px;
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 10px;

}



.footer {
  height:150px;
  background-color: #333;
}



